In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('GOOG.csv')

In [3]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-06,2588.989990,2597.689941,2568.179932,2595.419922,2595.419922,1067500
1,2021-07-07,2606.820068,2612.798096,2595.199951,2601.550049,2601.550049,834000
2,2021-07-08,2565.000000,2600.649902,2560.800049,2583.540039,2583.540039,989000
3,2021-07-09,2578.889893,2596.989990,2578.870117,2591.489990,2591.489990,755300
4,2021-07-12,2596.669922,2615.399902,2592.000000,2611.280029,2611.280029,847200
5,2021-07-13,2617.629883,2640.840088,2612.739990,2619.889893,2619.889893,830900
6,2021-07-14,2638.030029,2659.919922,2637.959961,2641.649902,2641.649902,895600
7,2021-07-15,2650.000000,2651.899902,2611.959961,2625.330078,2625.330078,829300
8,2021-07-16,2632.820068,2643.659912,2616.429932,2636.909912,2636.909912,742800
9,2021-07-19,2623.110107,2624.939941,2570.739990,2585.080078,2585.080078,1285500

In [4]:
forecast_col = 'Close'
forecast_out = 5
test_size = 0.2

In [5]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) #creating new column called label with the last 5 rows are nan
    print(label)
    X = np.array(df[[forecast_col]]) #creating the feature array
    X = preprocessing.scale(X) #processing the feature array
    X_lately = X[-forecast_out:] #creating the column i want to use later in the predicting method
    X = X[:-forecast_out] # X that will contain the training and testing
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [6]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,forecast_col,forecast_out,test_size); #calling the method were the cross validation and data preperation is in
learner = LinearRegression() #initializing linear regression model

learner.fit(X_train,Y_train) #training the linear regression model

0      2619.889893
1      2641.649902
2      2625.330078
3      2636.909912
4      2585.080078
          ...
246            NaN
247            NaN
248            NaN
249            NaN
250            NaN
Name: Close, Length: 251, dtype: float64

LinearRegression()

In [7]:
#Letâ€™s predict the output and have a look at the prices of the stock prices:
score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}#creting json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': 0.7535985321245788, 'forecast_set': array([2352.70996748, 2276.71292803, 2270.80346172, 2216.69949925,
       2211.23109613])}